.sec-1,
.sec-2,
.sec-3,
.sec-4,
.sec-5,
.sec-6,
.sec-7,
.sec-8 {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}
.sec-1 {
  background-color: var(--purple-500);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec-2 {
  background-color: var(--white);
  justify-content: center;
  align-items: center;
}
.sec-3 {
  background-color: var(--yellow-500);
  padding-bottom: 0;
}
.sec-4 {
  background-color: var(--purple-100);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sec-5 {
  background-color: var(--purple-500);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec-6 {
  background-color: var(--white);
}
.sec-7 {
  background-color: #faeee2;
}
.sec-8 {
  background-color: var(--yellow-500);
}

/* pragraphs styling */

.para-1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}
.para-1-1 {
  color: white;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 4px;
}
.para-2 {
  color: black;
  align-self: self-start;
  font-weight: 600;
  font-size: 22px;
}
.para-3 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
.para-4 {
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}
.para-4-1 {
  color: black;
  font-size: 18px;
  font-weight: 300;
}
.para-5 {
  color: white;
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0;
}
.para-6 {
  color: black;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}
.para-6-1 {
  color: black;
  font-size: 18px;
  font-weight: 300;
}
.para-7 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}
.para-8 {
  color: black;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
}

/* images styling  */

.img-1 {
  width: 70%;
}
.img-2 {
  width: 100%;
}
.img-3 {
  width: 50%;
}
.img-4 {
  width: 100%;
}
.img-5 {
  width: 70%;
}
.img-6 {
  width: 60%;
}
.img-7 {
  width: 70%;
}
.img-8 {
  width: 70%;
}
