.sec-1 {
  background-color: var(--purple-500);
}
.sec-2 {
  background-color: var(--white);
}
.sec-3 {
  background-color: var(--yellow-500);
}
.sec-4 {
  background-color: var(--purple-100);
}

.sec-5 {
  background-color: var(--purple-500);
}
.sec-6 {
  background-color: var(--white);
}
.sec-7 {
  background-color: #faeee2;
}
.sec-8 {
  background-color: var(--yellow-500);
}

/* pragraphs styling */

.para-1 {
  color: white;
}
.para-1-1 {
  color: #000;
}
.para-2 {
  color: white;
}
.para-3 {
  color: white;
}
.para-4 {
  color: white;
}
.para-4-1 {
  color: white;
}
.para-5 {
  color: white;
}
.para-6 {
  color: white;
}
.para-6-1 {
  color: white;
}
.para-7 {
  color: white;
}
.para-8 {
  color: white;
}

/* images styling  */

.img-1 {
  width: 100px;
}
.img-2 {
  width: 100px;
}
.img-3 {
  width: 100px;
}
.img-4 {
  width: 100px;
}
.img-5 {
  width: 100px;
}
.img-6 {
  width: 100px;
}
.img-7 {
  width: 100px;
}
.img-8 {
  width: 100px;
}
