:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --base: #f5f5f5;
}
* {
  box-sizing: border-box;
}
body,
html {
  min-height: 100vb;
  min-height: 100dvb;
  margin: 0;
  padding: 0;
  background-color: var(--base);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px;
  background-color: var(--base);
}
